
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="shadow mt-4 mb-3 p-3 bg-white">
            <p>
                <h3>Ocurrió un error inesperado.</h3>
            </p>
        </div>
    </div>
</div>

