@{
    ViewBag.Title = "Inicio";
}
@Styles.Render("~/Content/parallax")

<div class="parallax">
    <div id="group1" class="parallax__group" style="height: 90%;">
        <div class="parallax__layer parallax__layer--base">
            <div class="title">Frontend</div>
        </div>

    </div>
    <div id="group2" class="parallax__group">
        <div class="parallax__layer parallax__layer--base  m-0">
            <img src="~/images/submarine.png" class="center" style="margin-top: -100px;">
        </div>
        <div class="parallax__layer parallax__layer--fore">
            <img src="~/images/water.png" style="height: 100%; width: 100%;">
        </div>
        <div class="parallax__layer parallax__layer--fore text-white">
            <div class="title">Backend</div>
        </div>

    </div>


</div>
